<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include("./partials/header") %>
			<!-- /Header -->

			<!-- Banner -->
			<div class="bannerIndex">
				<img src="images/bannerweb.jpg" alt="Banner de ofertas">
			</div>
			<!-- /Banner -->

			<!-- Novedades -->
			<div class="container products-wrapper emipapa">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Productos Disponibles</h2>
					</div>
					<!-- Show the "ultimos" products -->

					<% for( let i=0; i < productos.length; i++ ) { %>
						<!-- hacemos una interación de un bucle for metido en un arciho html. 
																let i=0 el inicio del array, i<productos.lentgth condición de corte; i++ modificador que nos dice que va a ir recorriendo todo el array de menor a mayor. -->

						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/detalleProducto/<%= i %>">
									<figure class="product-box_image">
										<img src="<%= productos[i].imagen %> " alt="cafetera moulinex">
									</figure>
									<article class="product-box_data">
										<h2>
											<%= productos[i].titulo_producto %>
										</h2>
										<p>
											<%= productos[i].descripcion %>
										</p>
										<p>Comentarios: 5</p>
									</article>
								</a>
							</section>
						</div>

						<% } %>

				</div>
			</div>

			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>