<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/ifHeader') %>
			<!-- /Header -->

			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="card">
					<img class="foto-de-perfil" src="<%= user.imagen_perfil %>" alt="Foto de Perfil" style="width:100%">
					<h1>
						<%= user.username %>

					</h1>
					<p class="title">
						<%= user.email %>
					</p>
					<p>Founder</p>
					<div class="d-flex align-items-center ">
						<h1 class="main-title">
							<a href="/usuarios/editarPerfil">
								<i class="fas fa-cog"></i>
							</a>
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="main-title">
								<a href="/usuarios/editarPerfil">
									<i class="fas fa-cog"></i>
								</a>
							</h1>

						</div>
			</section>

			<section class="dinosaurio products-wrapper">
				<div class="diente">
					<ul class="">
						<% for( let i=0; i < user.Productos; i++ ) { %>
							<li><img src="" alt="">
								<%= user.Productos[i].titulo_producto %>
							</li>

							<% } %>
					</ul>
				</div>
				<div class="diente">
					<ul class="">
						<% for( let i=0; i < user.Comentarios; i++ ) { %>
							<li>
								<%= user.Comentarios[i].texto_comentario %>
							</li>
							<% } %>
					</ul>
				</div>
				<div class="diente">
					<ul class="">
						<% for( let i=0; i < user.Seguidores; i++ ) { %>
							<li>
								<%= user.Seguidores[i].usuarios_seguidores_id %>
							</li>
							<% } %>
					</ul>
				</div>
				</div>
				</div>-->
			</section>

		
				</div>
			</div>





			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>