<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/ifHeader') %>
			<!-- /Header -->

			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="card">
					<img class="foto-de-perfil" src="<%= usuario.imagen_perfil %>" alt="Foto de Perfil"
						style="width:100%">
					<h1>
						<%= usuario.username %>
							
					</h1>
					<p class="title">
						<%= usuario.email %>
					</p>
					<p>Founder</p>
					<div class="d-flex align-items-center ">
						<h1 class="main-title">
							<a href="/usuarios/editarPerfil">
								<i class="fas fa-cog"></i>
							</a>
					</div>
					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h1 class="main-title">
								<a href="/usuarios/editarPerfil">
									<i class="fas fa-cog"></i>
								</a>
							</h1>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
						</div>
						<div>
							<ul class="">
								<% for( let i=0; i < usuario.Productos.length; i++ ) { %>
								<li><img src="" alt=""><%= usuario.Productos[i].titulo_producto %> </li>
								
								<% } %>
							</ul>
						</div>
						<div>
							<ul class="">
								<% for( let i=0; i < usuario.Comentarios.length; i++ ) { %>
								<li><%= usuario.Comentarios[i].texto_comentario %> </li>
								<% } %>
							</ul>
						</div>
						<div>
							<ul class="">
								<% for( let i=0; i < usuario.Seguidores.length; i++ ) { %>
								<li><%= usuario.Seguidores[i].usuarios_seguidores_id %> </li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>-->
			</section>
			<!-- /Datos del usuario -->






			<!-- footer -->
			<%- include('./partials/footer') %>
				<!-- /footer -->
	</body>

</html>